QPushButton { 
	background-color: #93aca7;
	border: none;
	padding: 12px;
	margin: 24px;
	font: bold 14px;
	color: #37483e;
}

QToolButton {
	background-color: none;
	border: none;
	font: 20px;
	color: #37483e;
	line-height: 50px;
}

#MainWindow { 
	background-color: #eaf0ed;
}
